node_modules
.angular/cache/
dist/
dist/front-admin
dist/front-admin/browser
package-lock.json
yarn-error.log
npm-debug.log
coverage/
*.log
*.lock
*.zip
*.tar
*.gz
*.tar.gz
*.tgz
*.tar.bz2
*.tgz
*.tar.xz
*.gitignore
