
html, body { height: 100%; }
body {
    font-family: Bodini;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-size:14px;
    color:hsla(0, 3%, 13%, 0.906);
    font-weight: 100;
}
  .space{padding: 25px;}

  .formgray{
    background: rgb(243, 243, 243);
    padding: 25px;
  }
  
  .label-title{

    color:#464545;
  }